.flowchart-admin-wrap {
  /* for admin interface only. Will be overridden on frontend*/
}
.flowchart-admin-wrap .flowchart-toolbar label {
  font-weight: bold;
  line-height: 2em;
  opacity: 0.7;
  float: left;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 0px -1px 1px #d8dcdf;
  margin-left: 10px;
}
.flowchart-admin-wrap .flowchart-toolbar .extra-label {
  float: left;
  margin-left: 10px;
}
.flowchart-admin-wrap .flowchart-toolbar input.text {
  width: 100px;
  float: left;
  margin-left: 10px;
}
.flowchart-admin-wrap .flow-tab {
  overflow: scroll;
  position: relative;
}
.flowchart-admin-wrap .flowchart-container {
  -webkit-box-shadow: rgba(248, 248, 248, 0.9) -1px 0 0 inset, 0 0 1px rgba(201, 205, 206, 0.8);
  -moz-box-shadow: rgba(248, 248, 248, 0.9) -1px 0 0 inset, 0 0 1px rgba(201, 205, 206, 0.8);
  box-shadow: rgba(248, 248, 248, 0.9) -1px 0 0 inset, 0 0 1px rgba(201, 205, 206, 0.8);
  width: 100%;
  height: 1500px;
  overflow: auto;
  position: relative;
}
.flowchart-admin-wrap .flowchart-container h1 {
  margin: 0;
  display: block;
  color: #ddd;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  text-shadow: 0px -1px 1px #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flowchart-admin-wrap .state {
  z-index: 80;
  min-height: 50px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 10px;
  display: table;
}
.flowchart-admin-wrap .state .drag-content {
  line-height: 1.5em;
  padding: 5px 20px;
}
.flowchart-admin-wrap .state.new-state {
  top: 106px;
  right: 15px;
  width: 165px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 27px;
}
.flowchart-admin-wrap .state.new-state .drag-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 0;
}
.flowchart-admin-wrap .state.new-state .drag-content:hover {
  cursor: move;
}
.flowchart-admin-wrap .state:hover {
  box-shadow: 0 0 5px #aab2b9;
  border: 1px solid #bbb;
}
.flowchart-admin-wrap .state:hover .connect {
  z-index: 100;
  background: #efefef;
  position: absolute;
  bottom: 0;
  left: 0;
}
.flowchart-admin-wrap .state .num {
  font-size: 2em;
  color: #fff;
  width: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.flowchart-admin-wrap .state .num span {
  background: #2D8896;
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}
.flowchart-admin-wrap .columns.two {
  width: 250px;
}
.flowchart-admin-wrap .columns.four {
  width: 300px;
}
.flowchart-admin-wrap .columns.six {
  width: 450px;
}
.flowchart-admin-wrap .columns.eight {
  width: 600px;
}
.flowchart-admin-wrap .drag-area {
  border: 2px dashed #ccc;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
}
.flowchart-admin-wrap .new-states {
  z-index: 0;
  height: 70px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 2px;
  padding: 10px;
}
.flowchart-admin-wrap .new-states h2 {
  opacity: 0.7;
  margin: 0;
  padding-top: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 0px -1px 1px #d8dcdf;
}
.flowchart-admin-wrap em.flowchart-em {
  line-height: 2.5em;
  display: block;
  font-size: 11px;
  text-align: center;
  color: #97a0aa;
  font-style: italic;
}
.flowchart-admin-wrap .title {
  padding: 10px;
  cursor: move;
}
.flowchart-admin-wrap .connect {
  width: 100%;
  height: 10px;
  cursor: pointer;
}
