/*
	Styles for the admin interface
*/
.flowchart-admin-wrap #Form_ItemEditForm_error {
  display: none;
}
.cms .flowchart-admin-wrap .cms-content-fields {
  overflow-y: visible;
  overflow-x: scroll;
}
.cms .flowchart-admin-wrap .cms-content-fields.auto-height {
  height: auto !important;
  min-width: 1138px !important;
}
.cms .flowchart-admin-wrap .cms-content-fields fieldset {
  min-width: 1138px !important;
}
.flowchart-admin-wrap .connect {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
}
.flowchart-admin-wrap .flowchart-toolbar {
  z-index: 100;
}
.flowchart-admin-wrap .flowchart-toolbar label {
  font-weight: bold;
  line-height: 2em;
  opacity: 0.7;
  float: left;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 0px -1px 1px #d8dcdf;
  margin-left: 10px;
}
.flowchart-admin-wrap .flowchart-toolbar .extra-label {
  float: left;
  margin-left: 10px;
}
.flowchart-admin-wrap .flowchart-toolbar input.text {
  width: 100px;
  float: left;
  margin-left: 10px;
}
.flowchart-admin-wrap .flow-tab {
  overflow: scroll;
  position: relative;
}
.flowchart-admin-wrap .state {
  opacity: 0.8;
}
.flowchart-admin-wrap .state:hover {
  background: #f7f8f9;
  box-shadow: 0 0 5px #aab2b9;
  border: 1px solid #bbb;
}
.flowchart-admin-wrap .state:hover .connect {
  background: #efefef;
}
.flowchart-admin-wrap .state.new-state {
  top: 146px;
  right: 25px;
  width: 165px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 27px;
}
.flowchart-admin-wrap .state.new-state .drag-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 0;
  width: 100px;
}
.flowchart-admin-wrap .state.new-state .drag-content:hover {
  cursor: move;
}
.flowchart-admin-wrap .flowchart-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  overflow: auto;
}
.flowchart-admin-wrap .flowchart-wrap h1 {
  margin: 0;
  display: block;
  color: #ddd;
  font-size: 20px;
  line-height: 30px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  text-shadow: 0px -1px 1px #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flowchart-admin-wrap .flowchart-wrap .workspace {
  position: relative;
  height: 5000px;
  width: 870px;
  border: 2px dashed #ccc;
  background: rgba(255, 255, 255, 0.1) url(../../flowchart/images/grid.png);
  margin-right: 230px;
}
.flowchart-admin-wrap .new-states {
  -webkit-box-shadow: inset 1px 0 0 rgba(248, 248, 248, 0.9), 0 0 1px rgba(201, 205, 206, 0.8);
  -moz-box-shadow: inset 1px 0 0 rgba(248, 248, 248, 0.9), 0 0 1px rgba(201, 205, 206, 0.8);
  box-shadow: inset 1px 0 0 rgba(248, 248, 248, 0.9), 0 0 1px rgba(201, 205, 206, 0.8);
  width: 200px;
  height: 100%;
  background: #ECEFF1;
  height: 100%;
  z-index: 0;
  float: right;
  border-radius: 2px;
  padding: 30px;
}
.flowchart-admin-wrap .new-states h2 {
  opacity: 0.7;
  margin: 0;
  padding-top: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 0px -1px 1px #d8dcdf;
}
.flowchart-admin-wrap em.flowchart-em {
  line-height: 2.5em;
  display: block;
  font-size: 11px;
  text-align: center;
  color: #97a0aa;
  font-style: italic;
}
.flowchart-admin-wrap .title {
  cursor: move;
}

.flow-chart-view {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -20px;
  margin-left: -20px;
  height: 1500px;
  overflow: auto;
}
@media only screen and (min-width: 2880px) {
  .flow-chart-view {
    zoom: 1.1;
  }
}
@media only screen and (max-width: 768px) {
  .flow-chart-view {
    zoom: 0.8;
  }
}
@media only screen and (max-width: breakpoint(768px)) {
  .flow-chart-view {
    zoom: 0.7;
  }
}
.flow-chart-view:hover .zoom {
  opacity: 1;
}
.flow-chart-view .flowchart-container {
  position: relative;
  float: left;
}
.flow-chart-view .zoom {
  float: right;
  opacity: 0;
}
.flow-chart-view .state.new-state {
  display: none;
}

.flow-chart-view a:hover .state, .flowchart-admin-wrap a:hover .state {
  background: #f7f8f9;
}
.flow-chart-view .state, .flowchart-admin-wrap .state {
  z-index: 80;
  min-height: 60px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  display: table;
}
.flow-chart-view .state .drag-content, .flowchart-admin-wrap .state .drag-content {
  line-height: 1.5em;
  padding: 10px 30px 10px 5px;
}
.flow-chart-view .state .num, .flowchart-admin-wrap .state .num {
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
  width: 55px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.flow-chart-view .state .num span, .flowchart-admin-wrap .state .num span {
  background: #333;
  width: 45px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}
.flow-chart-view .col.two, .flowchart-admin-wrap .col.two {
  width: 215px;
}
.flow-chart-view .col.four, .flowchart-admin-wrap .col.four {
  width: 430px;
}
.flow-chart-view .col.six, .flowchart-admin-wrap .col.six {
  width: 645px;
}
.flow-chart-view .col.eight, .flowchart-admin-wrap .col.eight {
  width: 860px;
}
.flow-chart-view .connect, .flowchart-admin-wrap .connect {
  width: 100%;
  height: 10px;
  cursor: pointer;
}
