@import 'compass';
@import 'mixins';

/* Shared flowchart styles, and FE styles */
.flowchart-zoom{
	float:right;
}
.flowchart-view{
	@include box-sizing(border-box);
	height:auto;
	position:relative;
	overflow:auto;
	clear:both;
	@include respond(large-screens){
		zoom:1.1;
	}
	@include respond(tablets){
		zoom:0.8;
	}
	@include respond(portrait-tablets){
		zoom:0.8;
	}
	@include respond(all-phones){
		zoom:0.7;
	}
	.flowchart-container{
		position:relative;
		float:left;
		width:100%;
	}
	.state.new-state{
		display:none;
	}

}
.flowchart-view, .flowchart-admin-wrap{
	a:hover .state{
		background:#f7f8f9;
	}
	.state {
		z-index: 80;
		min-height:60px;
		position: absolute;
		border: 1px solid #ccc;
		background-color: #fff;
		color:#333;
		font-size:14px;
		display: table;
		.drag-content{
			line-height:1.5em;
			padding:10px 30px 10px 5px;
		}
		.num{
			font-weight:bold;
			font-size:1.3em;
			color:#fff;
			width:55px;
			text-align:center;
			display: table-cell;
			vertical-align: middle;
			span{
				background:#333;
				width:45px;
				height:40px;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	.col.two{
		width: 215px;
	}

	.col.four{
		width: 430px;
	}

	.col.six{
		width: 645px;
	}

	.col.eight{
		width: 860px;
	}

	.connect {
		width: 100%;
		height: 10px;
		cursor: pointer;
	}

}